<%- include('./partials/head') %>

<%- include('./partials/header') %>

<main>
 
    <ul>
       <% for( let i = 0; i < iD.length; i++) { %>
       <li> Nombre: <%= iD[i].nombre %>
            Integrantes: <%= iD[i].integrantes %>
            Genero: <%= iD[i].genero %>
            Top Canciones: <%= iD[i].topCanciones %>
            Cover: <%= iD[i].cover %>
            Id: <%= iD[i].id%>
            Video: <%= iD[i].video %>

      
      </li>
       <% } %>

    </ul>
   </main>

<%- include('./partials/footer') %>