<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <main id="index__main">
          
        <div class="main__div">
          <h3 class="main__h3"> Todas tus bandas favoritas en un solo lugar</h3>
        </div>
        <div class="div__container">
          <% for (let i=0; i < index.length; i++ ) { %>
          <div class="div__content">
            <div class="div__card">
              <div class="div__name">
                <ul>
                    <li>
                      <%= index[i].nombre %>
                    </li>
                </ul>
              </div>
              <div class="div__image">
                <div class="card-image">
                <ul>
                    <li>
                      <img class="card__img" src="<%= index[i].cover %>" alt="">
                    </li>
                </ul>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </main>

      <%- include('./partials/footer') %>
  </body>

</html>