<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <main>

        <div class="main__div">
        <h3 class="main__h3"> Todas tus bandas favoritas en un solo lugar</h3>
        </div>
        <section class="section">
        <ul>
          <% for( let i=0; i < index.length; i++) { %>
            <li> 
              Nombre: <%= index[i].nombre %>
              Integrantes: <%= index[i].integrantes %>
              Genero: <%= index[i].genero %>
              Top Canciones: <%= index[i].topCanciones %>
              Cover: <%= index[i].cover %>
              Id: <%= index[i].id%>
              Video: <%= index[i].video %>
            </li>
            <% } %>

        </ul>
      </section>
      </main>

      <%- include('./partials/footer') %>
  </body>

</html>