<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
      <main>

        <div class="main__div">
        <h3 class="main__h3"> Todas tus bandas favoritas en un solo lugar</h3>
        </div>
        <section class="section">
        <ul>
          <% for( let i=0; i < index.length; i++) { %>
            <li> 
              <%= index[i].nombre %>
              <img src="<%= index[i].cover %>" alt="">
            </li>
            <% } %>

        </ul>
      </section>
      </main>

      <%- include('./partials/footer') %>
  </body>

</html>